.titleContainer {
  display: flex;
  justify-content: center;
}
.title {
  font-size: xxx-large;
  font-family: Rockwell, serif;
}
.loremIpsum {
  text-align: justify;
  font-family: "Rockwell Extra Bold", serif;
  margin: 25px 50px;
}
