.navbarContainer {
  display: flex;
}
app-nav-navigation {
  display: flex;
  flex-grow: 4;
  padding-left: 20px;
  gap: 4px;
  justify-content:flex-start;
}
app-nav-login {
  display: flex;
  flex-grow: 1;
  padding-right: 20px;
  gap: 4px;
  justify-content:flex-end;
}
.separatorLineContainer {
  display: flex;
  justify-content: center;
}
.separatorLineTop, .separatorLineBottom {
  border: solid var(--darkBlue) 1px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.separatorLineTop {
  width: 90%;
}
.separatorLineBottom {
  width: 80%;
}
