
app-navbar {
  display: flex;
}

app-main {
  display: flex;
  /*flex-direction: column;*/
  /*margin-top: auto;*/
  min-height:100vh;
  flex-grow:1;
}

app-footer {
  display: flex;
  justify-content: center;
  /*margin-top: auto;*/


}
.separatorLineContainer {
  display: flex;
  justify-content: center;
}
.separatorLineTop {
  border: solid var(--darkBlue) 1px;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 90%;
}
.separatorLineBottom {
  border: solid var(--darkBlue) 1px;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 80%;
}
