<div class="grid-container">

  <div class="grid-item">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Torrent-Web</mat-card-title>
        <mat-card-subtitle>Damien</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/peerToPeer.jpg" [routerLink]="['/torrent']" alt="website" class="cursor-pointer">
      <mat-card-content>
        <p>
          Téléchargement de Torrent en ligne
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
