<div class="container mt-5">
  <h1 class="text-center mb-4">Fichiers téléchargés</h1>
  <ul class="list-group">
    <li *ngFor="let file of downloadedFiles" class="list-group-item d-flex justify-content-between align-items-center">
      <!-- Lien de téléchargement pour chaque fichier -->
      <a [href]="getFileUrl(file)" [attr.download]="file">{{ file }}</a>
      <button (click)="onDeleteFile(file)" class="btn btn-sm">
        <span class="material-icons">delete</span>
      </button>
    </li>
  </ul>
  <div class="mt-4 text-center">
    <a [routerLink]="['/torrent']" class="btn btn-secondary">Retour à l'accueil</a>
  </div>
</div>
